nav{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  max-height: 15vh;
  width: 100%;
  background-color: rgb(255, 196, 87);
}

.nav-img{
  object-fit: contain;
  max-width: 20vw;
}